node_modules
dist
.env
*.log
.DS_Store
coverage
.vitest
cypress/screenshots
cypress/videos
cypress/downloads
design_handoff_ops_triage
TEST-Fullstack-Developer-ECGO.docx
TEST-Fullstack-Developer-ECGO-JAWABAN-Ade-Rusmana.docx
